.inputbox_wrapper{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputbox_wrapper label {
  display: block;
  font-weight: 400;
  color: #344054;
  font-size: 12px;
}

.input_box{
  width: 100%;
  padding: 11px 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #fff;
  color: #101828;
}

.input_box::placeholder {
color:  #101828;
font-size: 12px;
font-weight: 400;
}

.input_box:focus{
  border: 1px solid #424242;
}
