/* AdditionalFields Component Styles */
.additional_fields_grid_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 10px;
  align-items: start;
  margin-top: 5px;
  border-radius: 6px;
}

.additional_fields_form_row {
  display: contents;
}

.additional_fields_form_field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: none;
  width: 100%;
}

.additional_fields_error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
