
.main_content {
  /* width: calc(100vw - 16.5%); */
  padding: 10px;
  box-sizing: border-box;
  /* margin-top: 54px;
  margin-left: 16.5%; */
  position:relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.analytics_wrapper {
  display: flex;
  /* margin-top: 10px; */
  gap: 15px;
  width: 100%;
}

.analytics_wrapper.row {
  flex-direction: row;
}


.analytics_wrapper.column {
  flex-direction: column;
}



.prev_years_graphs_section {
  width: 30%;
}
