.passwordresetpageform {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.formFields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.passwordValidation {
  color: #424242;
  font-size: 14px;
  font-weight: 400;
}

.errorMessage {
  color: #f93636;
}

.valid {
  color: #27ba17;
}

.invalid {
  color: #f93636;
}
