.ProgressHeader {
  display: inline-block;
  /* padding: 6px 10px; */
  border-radius: 4px;
}

.steptext {
  color: #82808F;
  margin-bottom: 6px;
  font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.stepnumber {
  color: #3425FF;
  /* font-weight: bold; */
  font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.steps {
  display: flex;
  height: 6px;
}

.stepblock {
  flex: 1;
  height: 100%;
  margin-right: -2px;
  position: relative;
  background-color: #D9D9D9; /* default inactive color */
}

/* Active block */
.active {
  background-color: #3425FF;
}

.first {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  clip-path: polygon(0 0, 100% 0, calc(100% - 4px) 100%, 0 100%);
}

.middle {
  clip-path: polygon(4px 0, 100% 0, calc(100% - 4px) 100%, 0 100%);
}

.last {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  clip-path: polygon(4px 0, 100% 0, 100% 100%, 0 100%);
}
