.top_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  background-color: #fff;
  padding:0px 10px;
  height: 54px;
  z-index: 999;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E5E9EB;
}

.left_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 15%);
  gap: 20px;
}
