.metric_cards_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr)); 
  gap: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.metric_card {
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box; 
}


.metric_card_values {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: none;
}
.percentage_number_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  height: 23px;
  width: 60px;
  display: flex;
  justify-content: center;
  border: 1px solid green;
  padding: 13px 35px;
  border-radius: 25px;
}

.card_value {
  font-size: 22px;
}

.card_state {
  margin-top: 12px;
  font-size: 14px;
  color: var(--Base-Shade-70, rgba(0, 0, 0, 0.7));
  font-weight: 600;
}

.card_red {
  background-color: #fff6f6;
}

.card_green {
  background-color: #f9fff4;
}

.card_percentage_text {
  display:flex;
 align-items: center;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.2px;
  font-family: "Plus Jakarta Sans";
}

.green_text {
  color: #22c55e;
}

.red_text {
  color: #ef4444;
}

.percentage_box_border_red {
  border-color: #ef4444;
}

.percentage_box_border_green {
  border-color: #22c55e;
}
