.distribute_table_top{
    display: flex;
    padding: 10px 0px 10px 10px;
    justify-content: space-between;
}

.distribute_table_left{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.distribute_table_searchbox{
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.distribute_table_heading{
    color: #393939;
    font-size: 18px;
    font-weight: 700;
}

.distribute_table_sub{
    color: #575757;
    font-size: 12px;
    font-weight: 400;
}

.distribute_table_content{
    width: 100%;
}