.all_nav_tabs {
  display: inline-flex;
  flex-direction: row;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #d2d2d2;
  background: #f7f7f7;
}

.nav_tabs {
  list-style: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}


.active_tab {
  color: #fff;
  background: #3425ff;
   font-size: 14px;
  font-weight: 700;
}
